In [2]:
import pandas as pd
import numpy as np
import matplotlib 
%matplotlib inline
matplotlib.pyplot.style.use = 'ggplot'

<img src="../img/logo_white_bkg_small.png" align="right" />

# Worksheet 2.2 - Exploratory Data Analysis (EDA) - Answers


First you're going to want to create a data frame from the `dailybots.csv` file which can be found in the `data` directory.  You should be able to do this with the `pd.read_csv()` function.  Take a minute to look at the dataframe because we are going to be using it for this entire worksheet.

In [3]:
DATA_HOME = '../data/'
data = pd.read_csv( DATA_HOME + 'dailybots.csv' )
#Look at a summary of the data
data.describe()

             hosts        orgs
count  4969.000000  4969.00000
mean    142.308110    15.31133
std     240.955294    21.15150
min       1.000000     1.00000
25%      10.000000     3.00000
50%      38.000000     7.00000
75%     187.000000    16.00000
max    2031.000000   122.00000

In [4]:
data['botfam'].value_counts()

Ramnit         540
Sality         540
ConfickerAB    540
Zeus           540
zeroaccess     538
Bedep          535
Necurs         511
Zusy           498
PushDo         418
Olmasco        309
Name: botfam, dtype: int64

## Exercise 1: Which industry sees the most Ramnit infections? Least?

Count the number of infected days for "Ramnit" in each industry industry. 
How: 
1.  First filter the data to remove all the infections we don't care about
2.  Aggregate the data on the column of interest. HINT:  You might want to use the `groupby()` function
3.  Add up the results

In [5]:
grouped_df = data[data.botfam == "Ramnit"].groupby(['industry'])
grouped_df.sum()

                     hosts  orgs
industry
Education             7492  3949
Finance               2281  1357
Government/Politics   4484   448
Healthcare/Wellness    544   473
Manufacturing        46303  1155
Retail               17649   558

# Exercise 2: Calculate the min, max, median and mean infected orgs for each bot family, sort by median
In this exercise, you are asked to calculate the min, max, median and mean of infected orgs for each bot family sorted by median.  HINT:
1.  Using the `groupby()` function, create a grouped data frame
2.  You can do this one metric at a time OR you can use the .agg() function. You might want to refer to the documentation here:  http://pandas.pydata.org/pandas-docs/stable/groupby.html#applying-multiple-functions-at-once
3.  Sort the values (HINT HINT) by the median column

In [6]:
group2 = data[['botfam','orgs']].groupby( ['botfam'])
summary = group2.agg([np.min, np.max, np.mean, np.median, np.std])
summary.sort_values( [('orgs', 'median')], ascending=False)

            orgs
            amin amax       mean median        std
botfam
ConfickerAB   27  122  63.035185   56.5  25.619679
Sality         2   43  15.909259   12.0   9.961946
Necurs         1  115  16.739726   11.0  16.644046
Ramnit         1   60  14.703704    9.0  14.485780
Zeus           1   36   9.988889    8.0   6.687004
Bedep          1   42   8.016822    6.0   6.192125
zeroaccess     1   19   5.481413    5.0   2.999787
Zusy           1   20   5.279116    4.0   4.204578
PushDo         1   12   2.882775    2.0   2.535719
Olmasco        1    6   1.592233    1.0   0.722148

# Exercise 3: Which date had the total most bot infections and how many infections on that day?
In this exercise you are asked to aggregate and sum the number of infections (hosts) by date.  Once you've done that, the next step is to sort in descending order.

In [7]:
df3 = data[['date','hosts']].groupby('date').sum()
df3.sort_values(by='hosts', ascending=False).head(10)

            hosts
date
2016-06-02  11352
2016-06-08  10716
2016-06-09  10476
2016-06-07  10383
2016-06-03  10336
2016-06-06  10125
2016-06-10  10106
2016-06-14   9820
2016-06-15   9738
2016-06-20   9461